.profile img.avatar {
  display: none !important;
}

body {
  margin-top: 0 !important;   /* or whatever value you want */
}


/* Reduce top margin of the profile header */
.profile {
    margin-top: 0px !important;   
    margin-bottom: 40px !important;
}

.profile h1 {
  font-size: 2.2rem !important;   /* choose any size you like */
  line-height: 3.0;               /* optional, improves spacing */
}

