{{ define "main" }}
  <div id="single">

    {{/* Create a paginator for the notes section */}}
    {{ $paginator := .Paginate (.Pages.ByDate.Reverse) }}

    {{ range $paginator.Pages }}
      <div class="content">
        <div class="meta">
          <span class="date">{{ .Date.Format "2006-01-02" }}</span>

          {{ with .Params.tags }}
            <span class="tags">
              {{ range . }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
              {{ end }}
            </span>
          {{ end }}
        </div>

        {{ .Content }}
      </div>

    {{ end }}


    {{/* Pagination links styled like the theme */}}
    <div class="pagination">
      {{ if $paginator.HasPrev }}
        <div class="pre">
          <a href="{{ $paginator.Prev.URL }}">
            {{ i18n "postsNewer" }}
          </a>
        </div>
      {{ end }}

      {{ if $paginator.HasNext }}
        <div class="next">
          <a href="{{ $paginator.Next.URL }}">
            {{ i18n "postsOlder" }}
          </a>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
